<div class="container-fluid">
  <div class="row">
    <!-- サイドバー -->
    <div class="col-lg-2">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"><%= link_to "アカウント", account_user_path(current_user), class: "nav-link active" %></li>
        <li class="nav-item"><%= link_to "プロフィール", profile_user_path(current_user), class: "nav-link link-dark" %></li>
      </ul>
    </div>
    <!-- メイン -->
    <div class="col-lg-10 bg-light">
      <div class="flex-column">
        <div class="row">
          <h4>アカウント</h4>
        </div>
        <div class="row">
          <h5 class="col-md-3">メールアドレス</h5>
          <div class="col-md-9"><%= @user.email %></div>
        </div>
        <div class="row">
          <h5 class="col-md-3">パスワード</h5>
          <div class="col-md-9"><%= @user.password_digest %></div>
        </div>
        <div class="row">
          <div><%= link_to "編集", edit_user_path(current_user), class: "btn btn-primary col-md-2" %></div>
        </div>
      </div>
    </div>
  </div>
</div>