<div class="container-fluid">
  <p>アカウント編集</p>
  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages', obj: @user %>
    <div class="form-group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :password, "新しいパスワード" %>
    <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :password_confirmation, "新しいパスワード確認" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= f.submit "更新", class: "btn btn-primary" %>
    <%= link_to "戻る", account_user_path(current_user), class: "btn btn-outline-secondary" %>
  <% end %>
</div>