<div class="container-fluid">
  <div class="row">
    <!-- サイドバー -->
    <div class="col-lg-2">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item"><%= link_to "アカウント", account_user_path(current_user), class: "nav-link link-dark" %></li>
        <li class="nav-item"><%= link_to "プロフィール", profile_user_path(current_user), class: "nav-link active" %></li>
      </ul>
    </div>
    <!-- メイン -->
    <div class="col-lg-10 bg-light">
      <div class="flex-column">
        <%= form_with(model: @user, local: true) do |f| %>
          <%= render 'shared/error_messages', obj: @user %>
          <div class="row">
            <h4>プロフィール</h4>
          </div>
          <div class="row">
            <div class="col-md-5 align-self-center">
              <% if @user.avatar? %>
                <%= image_tag @user.avatar.thumb.url %>
              <% else %>
                <%= image_tag 'nc209714.jpeg', class: "avatar" %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <h5 class="col-md-3"><%= f.label :avatar, "アイコン画像" %></h5>
            <div class="col-md-9"><%= f.file_field :avatar, class: "form-control" %></div>
          </div>
          <div class="row">
            <h5 class="col-md-3"><%= f.label :name, "名前" %></h5>
            <div class="col-md-9"><%= f.text_field :name, class: "form-control" %></div>
          </div>
          <div class="row">
            <h5><%= f.label :introduction, "自己紹介" %></h5>
            <div class="col-md-9"><%= f.text_area :introduction, class: "form-control" %></div>
          </div>
          <div class="row">
            <div><%= f.submit "更新", class: "btn btn-primary col-md-2" %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>