<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <%= link_to "POTEPAN Share", home_path, class: "navbar-brand" %>
          <ul class="navbar-nav">
            <li><%= link_to "ログイン", '#', class: "btn btn-primary" %></li>
            <li><%= link_to "登録する", signup_path, class: "btn btn-secondary" %></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <p>©︎ 2021 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
